* {
    text-align: center;
    margin:0;
    font-family: Space, Helvetica, sans-serif, Mono, Arial;
    height: 96.3vh;
    font-size: 10px;
  }

  .container {
    display: inline-block;
    margin: 0 auto;
    width: 100vw;
  }

  .blocos {
    float: left;
  }

  .left {
    background: #002339;
    color: #AEB3C3;
    padding: 15px;
    width: 60vw;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 5em;
    text-align: justify;
  }

  .right {
    background: #fff;
    padding: 15px;
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .referencia {
    position: relative;
    bottom: 0;
    max-height: 2vh;
}

#referencia,h2 {
    height: fit-content;
    width: fit-content;
    margin-left: 10px;
    color: #fff;
    font-size: 1.5em;
}

.box{
    width: 60%;
    height: 30%;
    background: #ddd;
    position: flex;
}
